.contentCard-description {
	padding: 20px;
}
.horizontal-description{
	width: 110%;
}
.card {
	background: none;
}

.infoTarget{
	margin-top: 30px;
	margin-bottom: 40px;
}
.marginContent{
	margin-bottom: 30px
}

.text-title-card{
	font-size: 20px
}
.margin-card-description{
}

