.card .card-content{
	padding-top: 0px;
}
a { color: inherit; } 
.disableScroll {
	overflow-y:hidden /* Ocultar scroll */
}
.modal{
	width: 40%;
	height: 500px;
	border-radius: 5px;
}

.contentCard {
	margin-top:30px;
	height: auto;
	width: 100%;
	padding-bottom: 30px;
}

.scrollhabilitado {
	overflow-y:scroll; /* Ocultar scroll */	
	background-color: white;
	height:350px;
}

.scrollhabilitado::-webkit-scrollbar {
    width: 5px;     /* Tamaño del scroll en vertical */
    height: 5px;    /* Tamaño del scroll en horizontal */
    border-radius: 100px;
}

.scrollhabilitado::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 20px;
}
/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
.scrollhabilitado::-webkit-scrollbar-thumb:hover {
    background: #343434;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
/* Cambiamos el fondo cuando esté en active */
.scrollhabilitado::-webkit-scrollbar-thumb:active {
    background-color: #343434;
}
/* Ponemos un color de fondo y redondeamos las esquinas del thumb */

.descriptionComic{
	font-size: 12px;
	text-overflow: ellipsis;
	overflow: hidden;	
}